 @{
    Layout = "LayoutDetails";
}

      <div class="container">
        <div class="row">
            <div class="col">
            <h1 class="col text-center mt-5 fw-bold">Our amazing tours</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <blockquote class="col-8 text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex lacus, ullamcorper id tincidunt in, fermentum finibus orci. Phasalleus placerat aliquet metus scelerisque convallis.</blockquote>
        </div>
      </div>
      <div id="trip_details">

      </div>

        @section Scripts {

        <script type="text/javascript">
        
            detailsTrip();

            function detailsTrip(){

            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);

                axios.get('/api/Trips/Details/' + id).then((result) => {

                        document.getElementById("trip_details").innerHTML = 
                        `
                         <div class="container pic">
                            <div class="row p-3">
                                <div class="col-6"><img src="${result.data.Image}" alt=""></div>
                            </div>
                        </div>
   
                        <div class="container desc">

                            <div class="row">
                               <div class="col-6 profilo title">${result.data.Title}</div>
                            </div>
            
                            <div class="row">
                                <div class="col-6 profilo lengthPrice">${result.data.Length}</div>
                            </div>
           
                            <div class="row">
                                <div class="col-6 profilo description">${result.data.Description}</div>
                            </div>

                            <div class="row">
                                <div class="col-6 profilo lengthPrice">${result.data.Price}</div>
                            </div>

                        </div>
                        `
                
                    
                    }).catch((error) => {
                        console.log("C'è stato un errore: " + error);

                    });
               }

        </script>

        }

        
        
        